:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111827;
  background-color: #f9fafb;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  max-width: 700px;
  margin: 64px auto;
  padding: 24px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}
